APScheduler==3.5.1
beautifulsoup4==4.4.1
bottle==0.12.7
Brlapi==0.6.4
chardet==2.3.0
click==6.7
command-not-found==0.3
cycler==0.9.0
defer==1.0.6
devscripts===2.16.2ubuntu3
docker-py==1.9.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Glances==2.3
html5lib==0.999
influxdb==2.12.0
itsdangerous==0.24
Jinja2==2.10
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Magic-file-extensions==0.2
MarkupSafe==1.0
matplotlib==1.5.1
netifaces==0.10.4
numpy==1.11.0
onboard==1.2.0
passlib==1.7.1
pexpect==4.0.1
Pillow==3.1.2
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygame==1.9.3
pygobject==3.20.0
pyparsing==2.0.3
pysnmp==4.2.5
pystache==0.5.4
python-apt===1.1.0.b1-elementary2-r2-ubuntu0.4.1.1
python-dateutil==2.4.2
python-debian==0.1.27
python-systemd==231
pytz==2018.5
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
six==1.11.0
SQLAlchemy==1.2.9
system-service==0.3
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
websocket-client==0.18.0
Werkzeug==0.14.1
xkit==0.0.0
