{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='signin.css') }}">
{% endblock %}
{% block body %}
{% include 'navbar.html' %}

<div class="container bg-danger">
	<div class="row text-center">
		<div class="col-sm-12 col-md-12">
			<h1>Buy or Sell</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<form action="{{ url_for('increase') }}" method="POST" >
				<label>Number of Stocks</label>
				<input type="number" name="number" min="0" value=0>
				<select name="stock_id" class="bg-light">
					{% for company in stocks %}
					<option value=" {{ company.id }} ">{{ company.name }} </option>
					{% endfor %}
				</select>
				<button type="submit" class="btn btn-primary">BUY</button>
			</form>
		</div>
		<div class="col-sm-6">
			<form action="{{ url_for('decrease') }}" method="POST" >
				<label>Number of Stocks</label>
				<input type="number" name="number" min="0" value=0>
				<select name="stock_id" class="bg-light">
					{% for company in stocks %}
					<option value=" {{ company.id }} ">{{ company.name }} </option>
					{% endfor %}
				</select>
				<button type="submit" class="btn btn-primary">SELL</button>
			</form>
		</div>
	</div>
	<marquee class="text-white bg-danger" scrollamount="10" behaviour="loop">
		<ul class="list-inline">
			{% for stock in stocks %}
			<li class="list-inline-item">{{ stock.name }} </li>
			<li class="list-inline-item" id="mqcp{{ stock.id }}">{{ stock.current_price }}</li>
			<li class="list-inline-item">
			{% if stock.recent_trend == "up" %}
				<img src="{{ url_for('static',filename="up.png") }}" id="mqrt{{ stock.id }}" width="15px">
			{% else %}
				<img src="{{ url_for('static',filename="down.png") }}" id="mqrt{{ stock.id }}" width="15px">
			{% endif %}
			</li>
			<li class="list-inline-item">|</li>
			{% endfor %}
		</ul>
	</marquee>
	{% include 'footer_home.html' %}
</div>
<hr>
{% include 'ajax2.html' %}
{% endblock %}