<footer>
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th scope="col">
					{{ investor.name }}
				</th>
				<th>
					Amount Left: {{ investor.amount_left }}
				</th>
				<th>
				</th>
			</tr>
			<tr>
				<th scope="col" colspan="3">
					Stocks 
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Stock1: {{investor.stocks1}}</td>
				<td>Stock2: {{investor.stocks2}}</td>
				<td>Stock3: {{investor.stocks3}}</td>
			</tr>
			<tr>
				<td>Stock4: {{investor.stocks4}}</td>
				<td>Stock5: {{investor.stocks5}}</td>
				<td>Stock6: {{investor.stocks6}}</td>
			</tr>
			<tr>
				<td>Stock7: {{investor.stocks7}}</td>
				<td>Stock8: {{investor.stocks8}}</td>
				<td>Stock9: {{investor.stocks9}}</td>
			</tr>
			<tr>
				<td>Stock10: {{investor.stocks10}}</td>
				<td>Stock11: {{investor.stocks11}}</td>
				<td>Stock12: {{investor.stocks12}}</td>
			</tr>
			<tr>
				<td>Stock13: {{investor.stocks13}}</td>
				<td>Stock14: {{investor.stocks14}}</td>
				<td>Stock15: {{investor.stocks15}}</td>
			</tr>
		</tbody>
	</table>
</footer>