{% extends 'base.html' %}
	{% block title %}
		Login
	{% endblock %}
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='signin.css') }}">
	{% endblock %}
	{% block body %}
	<div class="container text-white text-left">
		<p id="type"></p>
		<p id="type2"></p>		
		<form action="{{ url_for('enter') }}" method="POST">
			<div class="form-group text-left">
		    	<label id="type3"></label> 
		   		<input type="text" class="form-element" name="name">
		  	</div>
		  	<div class="form-group text-left">
		    	<label id="type4"></label>
		    	<input type="password" class="form-element" name="password">
		  	</div>
		  	<button type="submit" class="btn btn-login"><label id="type5"></label></button>
		</form>
		<br>
	</div>
	{% endblock %}
	{% block script %}
	<script type="text/javascript">

	var i = 0;
	var j = 0;
	var k = 0;
	var l = 0;
	var m = 0;
	var txt = "Hello and welcome to Carmel Summit"; 
	var txt2 = "Maverick";
	var txt3 = "Enter Company Name: ";
	var txt4 = "Enter Password: "
	var txt5 = "Click to submit >"
	var speed=45;
	$(document).ready(function(){
		document.body.style.background = "url('{{url_for('static',filename='Suit.jpg')}}')";
		document.body.style.backgroundSize = "cover";
		typeWriter(txt,"type");

	});
	function typeWriter(text,id){
		if(i<text.length){
			document.getElementById(id).innerHTML += text.charAt(i);
			i++;
			setTimeout(function(){typeWriter(text,id);},speed);
		}
		else if(j<txt2.length){
			document.getElementById("type2").innerHTML += txt2.charAt(j);
			j++;
			setTimeout(function(){typeWriter(txt2,"type2")},speed);
		}
		else if(k<txt3.length){
			document.getElementById("type3").innerHTML += txt3.charAt(k);
			k++;
			setTimeout(function(){typeWriter(txt3,"type3")},speed);
		}
		else if(l<txt4.length){
			document.getElementById("type4").innerHTML += txt4.charAt(l);
			l++;
			setTimeout(function(){typeWriter(txt3,"type3")},speed);
		}
		else if(m<txt5.length){
			document.getElementById("type5").innerHTML += txt5.charAt(m);
			m++;
			setTimeout(function(){typeWriter(txt5,"type5")},speed);
		}
	}
	</script>
	{% endblock %}